<main class="container container-fluid d-flex align-items-center justify-content-center vh-100">
        <section class="position-absolute">
            <div class="card swipe-card border border-3 border-info-subtle" style="">
                <div class="card-body">
                    <h3 class="card-title">Job Title</h3>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident facere totam perferendis odio fugit beatae quam minus nobis! Aliquam impedit ut eius magni eligendi placeat laborum illum, necessitatibus delectus voluptatum.</p>
                </div>
            </div>
        </section>

        <section class="position-absolute">
            <div class="card swipe-card border border-3 border-info-subtle" style="animation-delay: -2s;">
                <div class="card-body">
                    <h3 class="card-title">Job Title</h3>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident facere totam perferendis odio fugit beatae quam minus nobis! Aliquam impedit ut eius magni eligendi placeat laborum illum, necessitatibus delectus voluptatum.</p>
                </div>
            </div>
        </section>

        <section class="position-absolute">
            <div class="card swipe-card border border-3 border-info-subtle" style="animation-delay: -4s;">
                <div class="card-body">
                    <h3 class="card-title">Job Title</h3>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident facere totam perferendis odio fugit beatae quam minus nobis! Aliquam impedit ut eius magni eligendi placeat laborum illum, necessitatibus delectus voluptatum.</p>
                </div>
            </div>
        </section>

        <section class="position-absolute">
            <div class="card swipe-card border border-3 border-info-subtle" style="animation-delay: -6s;">
                <div class="card-body">
                    <h3 class="card-title">Job Title</h3>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident facere totam perferendis odio fugit beatae quam minus nobis! Aliquam impedit ut eius magni eligendi placeat laborum illum, necessitatibus delectus voluptatum.</p>
                </div>
            </div>
        </section>
    </main>

    <footer class="fixed-bottom bg-dark d-flex justify-content-around" style="height: 50px">
        <ul class="nav">
            <li class="nav-item flex-fill">
                <a class="nav-link active text-light fs-4 px-4 mx-4" aria-current="page" href="./profile.html">Profile</a>
            </li>
                <li class="nav-item">
                    <a class="nav-link text-light fs-4 text-end px-4 mx-4" href="#">Saved Jobs</a>
                </li>
        </ul>
    </footer>

<script src="../public/js/jobCards.js"></script>