<body class="d-flex justify-content-center vh-100 align-items-center">
    <div class="p-2 d-flex justify-items-center" id="signCard" style="width:500px">
        <main class="container container-fluid mt-3">
            <div class="row justify-space-between-md">
                <div class="container" style="width: 350px">
                    <div class="login-card">
                        <h2 class="page-title text-center">Login</h2>
                        <form class="form login-form">
                            <div class="form-group d-flex justify-content-end my-3 ms-4">
                                <label class="px-2 fs-5" for="email-login">Email:</label>
                                <input class="form-input rounded-2" type="text" id="email-login" />
                            </div>
                            <div class="form-group d-flex justify-content-end my-3">
                                <label class="px-2 fs-5" for="password-login">Password:</label>
                                <input class="form-input rounded-2" type="password" id="password-login" />
                            </div>
                            <div class="form-group d-flex justify-content-end">
                                <button class="btn btn-primary my-3" type="submit">Welcome Back!</button>
                            </div>
                        </form>
                    </div>
                    <h2 class="page-title text-center">Signup</h2>
                    <form class="form signup-form">
                        <div class="form-group d-flex justify-content-end my-3">
                            <label class="px-2 fs-5" for="username-signup">Username: </label>
                            <input class="form-input rounded-2" type="text" id="username-signup" />
                        </div>
                        <div class="form-group d-flex justify-content-end my-3 ms-4">
                            <label class="px-2 fs-5" for="email-signup">Email: </label>
                            <input class="form-input rounded-2" type="text" id="email-signup" />
                        </div>
                        <div class="form-group d-flex justify-content-end my-3">
                            <label class="px-2 fs-5" for="password-signup">Password: </label>
                            <input class="form-input rounded-2" type="password" id="password-signup" />
                        </div>
                        <div class="form-group d-flex justify-content-end">
                            <button class="btn btn-primary my-3" type="submit">Let's Get Started!</button>
                        </div>
                    </form>
                </div>
            </div>
    </div>